@import "../../styles/main.scss";

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  min-height: 100vh;
  padding: 5rem 0;
  background: linear-gradient(
    var(--color-tint-lightest),
    var(--color-tint-lighter)
  );

  &__not-found-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 10rem;

    .btn {
      width: 15rem;
      height: 4rem;
      font-size: 1.5rem;
    }
  }

  .section-header {
    p {
      text-align: start;
      line-height: 1.45;
    }
  }

  &__links {
    display: flex;
    gap: 5rem;
    align-self: center;
  }

  &__image {
    width: 80%;
    margin: 0 10%;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  &__features,
  &__technologies {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 0 5%;

    &__title {
      font-size: 3.5rem;
      font-weight: 600;
      text-align: start;
      color: var(--color-text-primary);
    }
  }

  &__features {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 0 5%;
    }

    &__item {
      position: relative;
      text-align: start;
      color: var(--color-text-primary);

      &__bullet {
        position: absolute;
        top: 2rem;
        left: -2rem;
        background-color: var(--color-text-primary);
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        max-width: 8.5px;
        max-height: 8.5px;
        color: inherit;

        @include desktop-layout {
          top: 1.3rem;
        }
      }

      &__title {
        font-weight: 600;
        line-height: 1;
      }

      &__description {
        display: inline-block;
        line-height: 1.45;
      }
    }
  }

  &__technologies {
    .technologies-list {
      &__list {
        li {
          padding: 1.4rem 2.8rem;

          @include desktop-layout {
            padding: 1rem 2rem;
          }

          span {
            font-size: 2.5rem;

            @include desktop-layout {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}
