@import "../../styles/main.scss";

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  > * {
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      animation: bounce 0.5s infinite;
    }
  }
}
