@use "variables" as *;

// Breakpoints
@mixin mobile-layout {
  @media only screen and (max-width: $break-phone) {
    @content;
  }
}

@mixin tab-layout {
  @media only screen and (min-width: $break-phone) {
    @content;
  }
}

@mixin desktop-layout {
  @media only screen and (min-width: $break-tab-port) {
    @content;
  }
}

@mixin wide-desktop-layout {
  @media only screen and (min-width: $break-desktop) {
    @content;
  }
}

@mixin large-desktop-layout {
  @media only screen and (min-width: $break-large-desktop) {
    @content;
  }
}

@mixin layout-gtc($max) {
  grid-template-columns:
    minmax($layout-padding, 1fr)
    minmax(auto, $max)
    minmax($layout-padding, 1fr);
}

@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }

  > * {
    position: absolute;
    inset: 0;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

@mixin scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0.2em;
    background-color: transparent;
  }
}

@mixin progress-bar($height: 5px, $loader-length: 10s) {
  .progress-bar {
    width: 100%;
    height: $height;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
    border-radius: 0;
  }

  .progress-bar::after {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: $height;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    animation: anim-fw $loader-length linear infinite;
  }

  @keyframes anim-fw {
    0% { width: 0; }
    100% { width: 100%; }
  }
}
