@import "../../styles/main.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
  width: 100%;
  min-height: 100vh;
  padding: 10% 0;
  background: linear-gradient(
    var(--color-tint-lighter),
    var(--color-tint-lightest)
  );

  .section {
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;

    h1 {
      text-transform: uppercase;
      font-size: 7.5rem;
      color: var(--color-text-primary);
    }

    span {
      width: 7.5rem;
      height: 0.5rem;
      border-radius: 35px;
      background-color: var(--color-shade-dark);
    }

    p {
      font-size: 2.8rem;
      color: var(--color-accent-medium);
      text-align: center;
      min-width: 75rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 85%;

    > * {
      h2 {
        font-size: 4.2rem;
        text-transform: capitalize;
        color: var(--color-text-primary);
      }
    }

    .section {
      flex-basis: 45%;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        p {
          font-size: 2.5rem;
          color: var(--color-accent-dark);
          text-align: justify;
          display: block;
          max-width: none;

          a {
            color: var(--color-primary);
            text-decoration: underline;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      &__contact-link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        width: 18rem;
        height: 6rem;
        border-radius: 5px;
        font-size: 2rem;

        span {
          text-transform: uppercase;
          font-weight: 700;
          transition: all 0.3s ease-in-out;
          color: #fff;
        }
      }
    }

    &__skills {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      h2 {
        text-transform: capitalize;
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1.5rem 2.5rem;
          border-radius: 9px;
          background-color: var(--color-background);
          font-size: 3rem;
          cursor: pointer;
          transition: all 0.5s ease-in-out;
          position: relative;
          overflow: hidden;

          span {
            color: var(--color-accent-dark);
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 1;
            z-index: 1;
            transition: color 0.2s ease-in-out 0.3s;
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -50%;
            width: 50%;
            height: 100%;
            background-color: var(--color-primary);
            transition: all 0.5s ease-in-out;
            opacity: 0;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: -50%;
            width: 50%;
            height: 100%;
            background-color: var(--color-primary);
            transition: all 0.5s ease-in-out;
            opacity: 0;
          }

          &:hover {
            &::before {
              left: 0;
              opacity: 1;
            }

            &::after {
              right: 0;
              opacity: 1;
            }

            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
