@import "../../styles/main.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
  min-height: 100vh;
  padding: 20% 0;
  background: linear-gradient(
    var(--color-tint-lightest),
    var(--color-tint-lighter)
  );

  @include desktop-layout {
    gap: 10rem;
    padding: 5% 0;
  }

  .section {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
    width: 85%;

    @include desktop-layout {
      flex-direction: row;
      gap: 0;
    }

    > * {
      h2 {
        font-size: 5.5rem;
        text-transform: capitalize;
        color: var(--color-text-primary);

        @include desktop-layout {
          font-size: 4rem;
        }
      }
    }

    .section {
      flex-basis: 45%;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      p {
        color: var(--color-accent-dark);
        text-align: justify;
        display: block;
        max-width: none;

        a {
          color: var(--color-primary);
          text-decoration: underline;
          font-weight: 600;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
