@import "../../styles/main.scss";

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
  min-height: 100vh;
  padding: 10rem 0;
  background: linear-gradient(
    var(--color-tint-lighter),
    var(--color-tint-lightest),
  );
}
