@import "../../styles/main.scss";

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    var(--color-tint-lighter),
    var(--color-tint-lightest)
  );

  padding: 5rem 1rem;

  @include desktop-layout {
    gap: 10rem;
    padding: 5rem 3.5rem;
  }

  .section {
    width: 100%;
  }
}
