@import "../../styles/main.scss";

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  width: 100%;
  min-height: 50vh;
  padding: 10rem 0;
  background: linear-gradient(
    var(--color-tint-lighter),
    var(--color-tint-lightest)
  );
}
