/* Media queries Breakpoint mixins */

@mixin mobile-layout {
  @media only screen and (max-width: $break-phone) {
    @content;
  }
}

@mixin tab-layout {
  @media only screen and (min-width: $break-phone) {
    @content;
  }
}

@mixin desktop-layout {
  @media only screen and (min-width: $break-tab-port) {
    @content;
  }
}

@mixin desktop-layout {
  @media only screen and (min-width: $break-desktop) {
    @content;
  }
}

@mixin large-desktop-layout {
  @media only screen and (min-width: $break-large-desktop) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, $max)
    minmax($layoutPadding, 1fr);
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > img {
    height: 100%;
    object-fit: cover;
  }
}

@mixin scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    scrollbar-width: none;
  }

  & {
    -ms-overflow-style: none;
  }

  &::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
  }
}

@mixin progress-bar($height: 5px, $loaderLength: 10s) {
  .progress-bar {
    width: 100%;
    height: $height;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
    border-radius: 0;
  }

  .progress-bar::after {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: $height;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    animation: animFw $loaderLength linear infinite;
  }

  @keyframes animFw {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
