.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  min-height: 60vh;
  background: linear-gradient(
    var(--color-tint-lighter),
    var(--color-tint-lightest)
  );
}
