@import "../../styles/main.scss";

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-tint-lightest);
  width: 100%;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 2500;
  border-bottom: 2px solid var(--color-primary);

  .nav {
    display: none;
  }

  @include desktop-layout {
    .nav {
      display: flex;
    }

    .nav-menu {
      display: none;
    }
  }
}
