@use "../../styles/abstracts" as *;

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;

  h1 {
    text-transform: uppercase;
    font-size: var(--font-size-title);
    line-height: var(--line-height-heading);
    letter-spacing: 0.01em;
    color: var(--color-text-primary);
  }

  span {
    width: 5.5rem;
    height: 0.5rem;
    border-radius: 35px;
    background-color: var(--color-shade-dark);
  }

  p {
    color: var(--color-accent-medium);
    font-size: var(--font-size-body-large);
    line-height: var(--line-height-body);
    text-align: center;
    margin: 0 2rem;
    max-width: 75rem;
  }
}
