@use "../../styles/abstracts" as *;

.course-list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  gap: 1.6rem;
  width: 100%;
  max-width: 105rem;
  padding: 0 2rem;

  @include desktop-layout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
