:root {
  --color-primary: #e67e22;
  --color-danger: #e74c3c;
  --color-tint-lightest: #fdf2e9;
  --color-tint-lighter: #fae5d3;
  --color-tint-light: #eb984e;
  --color-shade-dark: #cf711f;
  --color-shade-darkest: #45260a;
  --color-accent-medium: #888;
  --color-accent-light-on-white: #767676;
  --color-accent-light-on-tint: #6f6f6f;
  --color-accent-dark: #555;
  --color-accent-darker: #333;
  --color-background: #fff;
  --color-text-primary: #333;
  --font-primary: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --color-black: #000;
  --color-white: #fff;
}
